.App {
  text-align: center;
  display: flex;
}

#root{
  width: 100%;
}


.headerContainer{
  
}

h1{
  text-align: center;
}

.pageNumber{
  text-align: center;
}

.pageButton{
  margin: 0 10px;
}

.inputButton{
  text-decoration: none;
}

.searchForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card{
  width: 300px;
  margin:10px 0;
}

.gridList-container{
  padding: 50px;
}

.gridList{
  justify-content: space-around;
  overflow: hidden;
}